<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
  
<context:annotation-config />  
<context:component-scan base-package="com.cts.controller" />  
<bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver"/>  

<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">  
<property name="definitions">  
<list>  
<value>/WEB-INF/tiles.xml</value>  
</list>  
</property>  
</bean>

<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">  
<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>  
<property name="url" value="jdbc:mysql://103.233.3.93:3306/cts_db?useSSL=false&amp;serverTimezone=UTC"></property>  
<property name="username" value="cts_admin"></property>  
<property name="password" value="T72!wsb2"></property>  
</bean>  

<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="ds"></property>
</bean>
<bean id="dictionaryManager" class="com.cts.ind.DictionaryManager">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="userDao" class="com.cts.dao.UserDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="questionListDao" class="com.cts.dao.QuestionListDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="disciplineDao" class="com.cts.dao.DisciplineDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="categoryDao" class="com.cts.dao.CategoryDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="languageDao" class="com.cts.dao.LanguageDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="questionDao" class="com.cts.dao.QuestionDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="fileDao" class="com.cts.dao.FileDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="testDao" class="com.cts.dao.TestDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="submissionListDao" class="com.cts.dao.SubmissionListDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="ageGroupDao" class="com.cts.dao.AgeGroupDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="nationalityDao" class="com.cts.dao.NationalityDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="surveyDao" class="com.cts.dao.SurveyDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="hotsComponentDao" class="com.cts.dao.HotsComponentDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="ethnicDao" class="com.cts.dao.EthnicDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="facultyDao" class="com.cts.dao.FacultyDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="resultRangeDao" class="com.cts.dao.ResultRangeDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="programmingRstDao" class="com.cts.dao.ProgrammingRstDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="chartDao" class="com.cts.dao.ChartDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="reportDao" class="com.cts.dao.ReportDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="optionDao" class="com.cts.dao.OptionDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="adminDao" class="com.cts.dao.AdminDao">
<property name="jdbcTemplate" ref="jt"></property>
</bean>
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="maxUploadSize" value="20848820" />
</bean>

 

</beans>  